*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-container{
    width:50%;
    height: 10%;
    margin: 80px auto;
    position: relative;
}

.upper-container-1{
    width: 35%;
    height: 100%;
    padding-top: 10px;
}

.tasks{
    font-weight: bold;
    font-size: 3rem;
}

.lists{
    font-size: 3rem;
    opacity: 0.5;
}

.upper-container-2{
    width: 35%;
    height: 100%;
    padding-top: 10px;
}

.addlist{
    position: absolute;
    font-size: 2rem;
    opacity: 0.5;
    right: 5%;
    top: 28%;
}

.circle{
    position: absolute;
    top: 23%;
    right: 23%;
    padding-right: 8px;
    opacity: 0.8;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 1100px;
    margin: auto;
}

.card-1{
    height:45vh;
    width: 200px;
    border: 2px solid #EB4747;
    margin: auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

.card-2{
    height:45vh;
    width: 200px;
    border: 2px solid #EB4747;
    margin: auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

.card-3{
    height:45vh;
    width: 200px;
    border: 2px solid #EB4747;
    margin: auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

.card-4{
    height:45vh;
    width: 200px;
    border: 2px solid #EB4747;
    margin: auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

.card-5{
    height:45vh;
    width: 200px;
    border: 2px solid #EB4747;
    margin: auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

.div1{
    text-align: left;
    color: #EB4747;
    font-size: 1.5rem;
    width: 85%;
    height: 15%;
    border-bottom:1px solid grey;
    position: absolute;
    top: 25px;
    right:0px;
}

.div2{
    height: 15%;
    width: 85%;
    color: red;
    position: absolute;
    top: 15vh;
    left: 4.8vh;
    font-weight: bold;
    font-size: 20px;
    text-decoration: line-through;
}

.div3{
    height: 15%;
    width: 85%;
    position: absolute;
    top:21.5vh ;
    left: 2vh;
    font-size: 22px;
    opacity: 0.9;
}

#check{
    width: 17px;
    height: 17px;
}

@media(max-width:600px){

    .addlist{
        display: none;
    }

    .upper-container{
        width: 100%;
        margin-left: 30px;
    }

    .upper-container-1{
        width: 80%;
    }

    .circle{
        right: 50px;
    }

    .div1{
        border: none;
        color: grey;
        /* background-color: #EB4747; */
        height: 30px;
        width: 290px;
        margin-right: 17pxpx;
        margin-bottom: 7px;
    }

    .div2{
        display: none;
    }

    .div3{
        display: none;
    }

    .card-container{
        /* background-color: yellow; */
        height: 50vh;
        width: 90%;
        position: relative;
        bottom: 80px;
        display: flex;
        flex-direction: column;
      }

    .card-1{
        border: 1px solid lightgray;
        height: 8vh;
        width:  95%;
        position: absolute;
        top: 40px;
    }

    .card-2{
        border: 1px solid lightgray;
        height: 8vh;
        width:  95%;
        position: absolute;
        top: 140px;

    }

    .card-3{
        border: 1px solid lightgray;
        height: 8vh;
        width:  95%;
        position: absolute;
        top: 240px;

    }

    .card-4{
        border: 1px solid lightgray;
        height: 8vh;
        width:  95%;
        position: absolute;
        top: 340px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px grey;

    }

    .card-5{
        border: 1px solid lightgray;
        height: 8vh;
        width:  95%;
        position: absolute;
        top: 440px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px grey;

    }

}
